pipeline/snowflaketoADLS.json
{
	"name": "snowflaketoADLS",
	"properties": {
		"activities": [
			{
				"name": "lkpoldwatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "Snowflakewatremarktable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Lookupnewwatermarktable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": "select max(modified_date) as newwatermark from demoschema.sales",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SnowflakesalesTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkpoldwatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookupnewwatermarktable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": {
							"value": "select * from demoschema.sales where modified_date > '@{activity('lkpoldwatermark').output.firstRow.WATERMARKVALUE}' and modified_date <= '@{activity('Lookupnewwatermarktable').output.firstRow.NEWWATERMARK}'",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "snowflakestaging",
							"type": "LinkedServiceReference"
						},
						"path": "realtimepractice"
					}
				},
				"inputs": [
					{
						"referenceName": "SnowflakesalesTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "employeecsv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Scripttoupdatewatermarktable",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Snowflake",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "UPDATE watermarktable\nSET watermarkvalue = (SELECT MAX(MODIFIED_DATE) FROM demoschema.sales)\nWHERE tablename = 'demoschema.sales';\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-10-14T04:13:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}